<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dáme oběd</title>
    <style>
        th { text-align: left; }
        * {
            font-family: sans-serif;
        }
        table {
            table-layout: fixed;
        }
        .nazev {
            width: 80vw;
            max-width: 80vw;
        }
        th, td {
            border: 1px solid #aaa;
            padding: 6px;
        }

    </style>
</head>
<body>

<h1>
  Dáme oběd na kampusu
</h1>

{% for nazev_restaurace, menu in restaurants.items() %}
    <h2>{{ nazev_restaurace }}</h2>

    {% if menu is none %}
        Dneska se tady neobědvá :( error
    {% else %}
        <table>
            <tr>
                <th class="nazev">Název</th>
                <th>Cena</th>
            </tr>

            {% for pokrm in menu %}
                <tr>
                    <td class="nazev"> {{ pokrm.text_jidlo }} </td>
                    <td> {{ pokrm.text_cena }} </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}

<h3></h3>

</body>
</html>